<ion-content>
  <div id="header">
    <div id="app-bar">
      <div id="app-bar">
        
      </div>
  </div>
  <div class="wrapper">
    <ion-card class="form-wrapper">
      <ion-card-content>
        <ion-item>
          <ion-icon name="mail"></ion-icon>
          <ion-input [(ngModel)]="nik" placeholder="Masukan Nik" class="input" />
        </ion-item>
        <div class="container-form-btn">  
          <ion-button (click)="login()" expand="full" color="success"><b>Masuk</b></ion-button>
        </div>
        <div class="line-text">
          <span class="lines"></span>
          <span class="text"></span>
        </div>
      </ion-card-content>
    </ion-card>
  </div>

