<ion-content [fullscreen]="true">
  <ion-header [translucent]="true">
    <ion-toolbar style="--background: #043724">
      <div class="d-flex justify-content-between mx-2">
        <img src="assets/logo/GFH_Logo.png" alt="" width="150px" />
        <div class="d-flex justify-content-center align-items-center" (click)="logout()">
          <span class="text-white">Logout</span>
          <ion-icon name="log-out-outline" class="ms-1 text-white" style="font-size: 20px"></ion-icon>
        </div>
      </div>
    </ion-toolbar>
  </ion-header>
  <ion-title class="Data Keluarga"></ion-title>

  <!-- Konten Data Keluarga -->
  <ion-card class="table-card" *ngFor="let data of Data">
    <ion-card-content>
      <ion-list lines="none">
        <ion-item>
          <ion-label slot="start">Nama:</ion-label>
          <ion-label>{{ data.nama }}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label slot="start">Status Keluarga:</ion-label>
          <ion-label>{{ data.status_keluarga }}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label slot="start">NIK:</ion-label>
          <ion-label>{{ data.nik }}</ion-label>
        </ion-item>
      </ion-list>
      
      <!-- Tambah (Add) button moved inside ion-card-content -->
      <ion-button class="btn-create" (click)="tambah()" expand="" color="success">
        <ion-icon name="add-outline" slot="start"></ion-icon>
        Tambah
      </ion-button>
      
      <ion-button color="success" (click)="editKK(data.nik)">
        <ion-icon slot="start" name="create-outline"></ion-icon>
        Update
      </ion-button>
    </ion-card-content>
  </ion-card>

  <!-- ... (remaining code) ... -->

  <!-- Tombol "Floating" -->
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <!-- ... (remaining code) ... -->
  </ion-fab>





