ion-content {
  --background: url("../../assets/WhatsApp\ Image\ 2023-11-12\ at\ 07.59.14.jpeg");
  position: center;
  margin-left: 500px;
}


ion-fab {
  top: 82%;
  position: fixed;
  justify-content: left;
}
ion-fab-button::part(native) {
  background-color: #b7f399;
  border-radius: 15px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3),
    0px 1px 3px 1px rgba(0, 0, 0, 0.15);
  color: black;
}

ion-fab-button::part(native):hover::after {
  background-color: #a3e681;
}

ion-fab-button::part(native):active::after {
  background-color: #87d361;
}